{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h3 class="h3 mb-3 font-weight-normal">Register</h3>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button class="btn btn-primary" type="submit">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
